span.toplinks {
	font-weight: normal;
	font-style: italic;
}

span.toplinks a:link {
	text-decoration: none;
}
span.toplinks a:visited {
	text-decoration: none;
}

td.hright {
        text-align: right;
        font-family: sans-serif;
        font-size: 80%;
        font-weight: bold;
	white-space: nowrap;
}
td.hleft {
        text-align: left;
        font-family: sans-serif;
        font-size: 80%;
        font-weight: bold;
	white-space: nowrap;
}
span.toptitle {
	font-size: 14pt;
}
table.navbar {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-color: white;
	border: 0; 
	border-bottom: 1px solid black;
}
table.navbar th {
	border-left: 1px solid white;
	border-right: 1px solid black;
	border-top: 1px solid rgb(80%,80%,80%);
	border-bottom: 1px solid black;
	padding: .2em .2em .1em .2em;
	background-color: rgb(90%,90%,90%);
	font-weight: bold;
	font-size: 90%;
	margin-bottom: 0px;
	font-family: sans-serif;
	color: white;
	white-space: nowrap;
}
table.navbar a:link {
	color: white;
	text-decoration: none;
}
table.navbar a:visited {
	color: white;
	text-decoration: none;
}
table.navbar a:hover {
	text-decoration: none;
	color:rgb(80%,80%,80%);
}
table.navbar td.navfil {
	background-color: rgb(90%,90%,90%);
	border-top: 0;
	padding-top: 0px;
	margin-top: 0px;
	font-size: 70%;
	color: black;
	font-style: italic;
	font-family: sans-serif;
}
td.navmenu {
	width:13em;
        background-color: white; 
        vertical-align: top;
        padding-right: .25em;
        padding-left: .2em;
	padding-top: .5em;
        border-right: 1px solid rgb(80%,80%,90%);
        border-bottom: 0px solid black;
        border-top: 0px solid rgb(80%,80%,80%);
        border-left: 0px solid rgb(50%,50%,60%);
        font-family: sans-serif;
        font-weight: normal;
        line-height: 120%;
        font-size: 9pt;
        white-space: nowrap;
}
td.navmenu h1 {
        font-size: 12pt;
        font-weight: normal;
}
td.navmenu h2 {
	font-size:9pt;
	font-family: sans-serif;
        font-weight: bold;
	font-variant:small-caps;
	margin-right:0;
	padding-bottom: .1em;
	padding-top: .5em;
	margin-top:0;
	border-top:1pt solid rgb(80%,80%,90%);
}
td.navmenu h2 a:link {
        color: rgb(0%,20%,50%);
}
td.navmenu h2 a:visited {
        color: rgb(0%,20%,50%);
}
td.navmenu h2 a:hover {
        color: rgb(0%,0%,100%);
}

td.navmenu h3 {
        font-size: 10pt;
        font-weight: bold;
}
td.navmenu a:visited {
        color: rgb(0%,20%,50%);
        text-decoration: none;
}
td.navmenu a:link {
        color: rgb(0%,20%,50%);
        text-decoration: none;
}
td.navmenu a:hover {
        color: rgb(0%,0%,100%);
}
td.go_search {
        text-align: right;
        font-family: sans-serif;
        font-size: 9pt;
        font-weight: bold;
	white-space: nowrap;
}
div.nav_here a:link, div.nav_here a:visited {
	color: blue;	
}
div.nav_here a:hover {
}
